# Compiled Object files
*.slo
*.lo
*.o
*.obj
unsuccessfulbuild
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Logs
*.log
*.tlog

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.sln
*.VC.db
*.suo
*.vcxproj*
*.idb
*.pdb
*.rc
*.make
*.aps
*.opendb
